@import "Settings";
@import "../../node_modules/hover.css/scss/options";
@import "../../node_modules/hover.css/scss/mixins";
@import "../../node_modules/hover.css/scss/hacks";
@import "../../node_modules/hover.css/scss/effects/border-transitions/underline-from-center";

@if $includeClasses {
	.#{$nameSpace}-underline-from-center {
		@include underline-from-center();
	}
}

.window-blur-enter {
  opacity: 0.01;
}

.window-blur-enter.window-blur-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.window-blur-leave {
  opacity: 1;
}

.window-blur-leave.window-blur-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.window-blur-appear {
  opacity: 0.01;
}

.window-blur-appear.window-blur-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/*
  Навигация по scss
    1) Стандартные
    2) Header
      2.1) Навигация
      2.2) Интро
    3) Обо мне
*/
// 1) Стандартные
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-size: 16px;
}

// 2) Header
header {
  background: $color-light-blue;
  position: relative;
  height: 100%;
}

// 2.1) Навигация
.navigation {
  max-width: 1080px;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 50px;
  padding: 20px;
  .logo {
    float: left;
    text-decoration: none;
    svg {
      float: left;
      .fil0 {
        fill: $color-white;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: fill;
        -moz-transition-property: fill;
        -ms-transition-property: fill;
        -o-transition-property: fill;
        transition-property: fill;
      }      
    }
    &:hover {
        cursor: pointer;
        .fil0 {
          fill: $color-dark-blue;
        }
    }
    &__text {
      color: $color-white;
      font-size: 16px;
      margin-top: 5px;
      line-height: 22.5px;
      font-family: $font-title;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &__job {
      line-height: 22.5px;
      color: $color-white;
      font-size: 16px;
      font-family: $font-title;
    }
  }

  ul {
    margin: 0;
    li {
      float: right;
      display: inline;
      padding: 15px;

      
      a {
        text-transform: uppercase;
        font-size: 13px;
        color: $color-white;
        font-weight: 700;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 10px 0;
        white-space: nowrap;
        @include underline-from-center();
        display: inline;
        &:before{
          height: 2px;
          bottom: 2px;
          background: $color-dark-blue;
        }
        &:hover{
          cursor: pointer;
        }
        &.active:before{
          background: #ffffff;
          left: 10px;
          right: 10px;
          background: white;
        }
      }
    }
  }

}

// 2.2) Интро
.intro {
  position: relative;
  width: 100%;
  height: 600px;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .vAlign {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  h1 {
    font-size: 2.5em;
    font-family: $font-title;
    color: $color-white;
    text-align: center;
    max-width: 980px;
    display: block;
    line-height: 1.4;
    letter-spacing: 0.04em;
    margin: auto auto 0.2em;
  }

  &__about {
    margin-bottom: 0.5rem;
    ul {
      font-size: 0;
      width: 100%;
      margin: auto;
      text-align: center;
      line-height: 1.4;
      li {
        display: inline-block;
        vertical-align: middle;
        font-family: $font-title;
        font-size: 1.25rem;
        margin-left: 0.5em;
        letter-spacing: 0.02em;
        color: $color-white;

        &:before {
          content: '\00B7';
          display: inline-block;
          margin-right: .5em;
        }
        &:first-child {
          margin-left: 0;
          &:before {
            content: '';
          }
        }

      }
    }
  }
  &__button {
    background: none;
    font-size: 1em;
    letter-spacing:1px;
    border: none;
    font-family: $font-title;
    text-transform: uppercase;
    color: $color-white;
    display: inline-block;
    text-align: center;
    margin: .5em auto 0;
    padding: 1em 1em .5em;
    font-weight: bold;
    position: relative;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color;

    .material-icons {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      top: 30px;
    }
    &:hover {
      cursor: pointer;
      color: $color-dark-blue;
    }
  }
}

.portfolio{
  line-height: 0;
  &>*{
    width: 33.3%;
  }
  &__item{
    min-height:270px;
    overflow: hidden;
    position: relative;
    word-break: break-word;
    display: inline-block;

    a{
      display: block;
      position: relative;
      text-align: center;
      img{
        position: absolute;
        height: 85px;
        top:50%;
        left: 50%;
        display: block;
        max-width: 90%;
        -webkit-transition: .3s transform;
        -moz-transition: .3s transform;
        -ms-transition: .3s transform;
        -o-transition: .3s transform;
        transition: .3s transform;
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%) translateZ(0);
      }
      &:before{
        display: block;
        content: "";
        width: 100%;
        padding-top: 62.5%;
      }
    } 
    h3{
      font-family: $font-title;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1em;
      color: white;
      line-height: 1.4;
      background: rgba(0, 0, 0, 0.75);
      -webkit-transform: translateY(100%) translateZ(0);
      -ms-transform: translateY(100%);
      transform: translateY(100%) translateZ(0);
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      -moz-transition-property: transform;
      -ms-transition-property: transform;
      -o-transition-property: transform;
      transition-property: transform;
    }
    &:hover {
      h3{
        -webkit-transform: translateX(0) translateY(0) translateZ(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0) translateZ(0);
      }
      img{
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.9);
        -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.9);
        -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.9);
        -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.9);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.9);
      }
    }
    &:after{
      content: "";
      clear: both;
      display: table;
    }
  }
}

// 3) Обо мне
.aboutMe {
  max-width: 720px;
  margin: auto;
  h2 {
    display: block;
    text-align: left;
    margin-top: 1.6em;
    color: $color-dark;
    font-size: 1.8rem;
    font-family: $font-title;
  }
  h3 {
    display: block;
    text-align: left;
    margin-top: 1.6em;
    color: $color-dark;
    font-size: 1.3rem;
    font-family: $font-title;
  }
  &__content, &__skills, &__other, &__readMore {
    margin-top: .8rem;
    p {
      font-size: 18px;
      font-family: $font-title;
      color: $color-dark;
      word-break: break-word;
      position: relative;
      line-height: 1.8;
      &.grey {
        color: #7f919e;
      }
      .material-icons {
        bottom: 0;
        position: absolute;
      }
      a {
        color: $color-dark;
        text-decoration: none;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -ms-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        &:hover {
          color: $color-orange;
        }
      }

    }
    .aboutMe__university {
      &--state {
        color: #7f919e;
        line-height: 1;
      }
    }
  }
}

.contacts {
  margin-top: 1.6em;
  padding-top: 1.6em;
  background: $color-white;
  &__content {
    width: 720px;
    margin: auto;
    h2 {
      color: $color-dark;
      font-family: $font-title;
      font-size: 1.8em;
    }

    .social {
      &__vk,&__gh {
        img {
          padding: 5px;
        }
      }
    }
  }
}

