/*
  Colors
*/
$color-dark:#333;
$color-white:#FFFFFF;
$color-dark-blue:#19647E;
$color-light-blue:#2098d1;
$color-yellow:#F4D35E;
$color-green:#1ECD97;
$color-orange:#EE964B;

/*
  Fonts
*/
$font-content: 'Open Sans', sans-serif;
$font-title: 'PT Sans Narrow', sans-serif;

$phones: max-width 543px;
$landscape-phones: 544px 767px;
$tablets: 768px 991px;
$desktops: 992px 1199px;
$large-desktops: 2000px;